if (theme.disqus.enable)
    section
        div#disqus_thread
            noscript
                |'Please enable JavaScript to view the'
                a(href='http://disqus.com/?ref_noscript')!='comments powered by Disqus.'

    include disqus.pug