doctype html
html(lang=config.language)
  head
      include head.pug
  body
    include nav.pug
    include profile.pug
    block content
    include footer.pug
    include googleAnalytics.pug
    include matomo.pug
    include after_footer.pug
