- var items = []
- var title = ''
- var isTagIndex = page.type === 'tags' || page.type === 'tag'
- var isCategoryIndex = page.type === 'categories' || page.type === 'category'

if isTagIndex
    - items = site.tags
    - title = __('tags')
else if isCategoryIndex
    - items = site.categories
    - title = __('categories')

h1!=page.title || title

if page.content
    section#post-body!=page.content

ul
each item in items.toArray()
    li
      - console.log(item.slug)
      a(href=item.slug)!=item.name
